$mice_margin_left: 40px;
$mice_margin_top: -140px;

$business_travel_margin_left: 300px;
$business_travel_margin_top: 250px;

$lady_margin_left: 32%;
$lady_margin_top: 16%;

$hotel_margin_left: 55%;
$hotel_margin_top: 80px;

$train_margin_left: 60%;
$train_margin_top: 300px;

$flight_margin_left: 40%;
$flight_margin_top: $mice_margin_top + 20px;

$passport_margin_left: 80%;
$passport_margin_top: $mice_margin_top + 15;

$lifestyle_margin_left: 50px;
$lifestyle_margin_top: 100px;

$trafundo_margin_left: 75%;
$trafundo_margin_top: 120px;

$depens_x_margin_left: 35%;
$depens_x_margin_top: 100px;

body {
  margin: 0;
  padding: 0;
  // width: 100%;
  // height: 100%;
  font-family: "Roboto";
  box-sizing: border-box;
}

.miceback,
.businesstravelBack,
.hotelBack,
.trafundoBack,
.lifestyleBack,
.flightBack,
.passportBack,
.trainBack,
.depens-x_back {
  width: 200px;
  height: 200px;
  background: url(./images/cartoon/imagebackParticles.png);
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: yellow;
}

.miceback {
  margin-top: $mice_margin_top;
  margin-left: $mice_margin_left;
}

.businesstravelBack {
  margin-top: $business_travel_margin_top;
  margin-left: $business_travel_margin_left;
}

.hotelBack {
  margin-top: $hotel_margin_top;
  margin-left: ($hotel_margin_left);
}

.trafundoBack {
  margin-top: $trafundo_margin_top;
  margin-left: $trafundo_margin_left;
}

.lifestyleBack {
  margin-top: $lifestyle_margin_top;
  margin-left: $lifestyle_margin_left;
}

.flightBack {
  margin-top: $flight_margin_top;
  margin-left: $flight_margin_left;
  z-index: -1;
}

.passportBack {
  margin-top: $passport_margin_top;
  margin-left: $passport_margin_left;
}

.trainBack {
  margin-top: $train_margin_top;
  margin-left: $train_margin_left;
}

.depens-x_back {
  width: 150px;
  height: 150px;
  margin-top: ($depens_x_margin_top)-30;
  margin-left: ($depens_x_margin_left)-2;
}

.backgound_particle {
  background: url(./images/cartoon/background_particle.png);
  position: absolute;
  // z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(./images/cartoon-background.jpg);
  background-repeat: n o-repeat;
  background-size: cover;
}
.mixBlnd {
  background-blend-mode: screen;
}

.lady {
  margin-left: $lady_margin_left;
  margin-top: $lady_margin_top;
  .ladyImg {
    width: 380px;
    height: 380px;
  }
}

.travel-pro {
  position: absolute;
  left: 20%;
  top: 10px;
  z-index: 1;
  .travel-proImg {
    width: 80%;
  }
}

.mice {
  margin-top: $mice_margin_top;
  margin-left: $mice_margin_left;
  width: 250px;
  height: 250px;
  text-decoration: none;
  .miceImg {
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    // white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.lifestyle {
  margin-top: $lifestyle_margin_top;
  margin-left: $lifestyle_margin_left;
  width: 250px;
  height: 250px;
  text-decoration: none;
  .lifestyleImg {
    width: 200px;
    height: 200px;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    // white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.business-travel {
  margin-top: $business_travel_margin_top;
  margin-left: $business_travel_margin_left;
  width: 200px;
  height: 200px;
  text-decoration: none;
  // background-color: red;
  .business-travelImg {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.hotel {
  margin-left: $hotel_margin_left;
  margin-top: $hotel_margin_top;
  width: 300px;
  height: 150px;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: center;
  }
  .hotelImg {
    width: 150px;
    height: 150px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.flight {
  margin-top: $flight_margin_top;
  margin-left: $flight_margin_left;
  width: 400px;
  height: 200px;
  overflow: hidden;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: center;
  }
  .flightImg {
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.train {
  margin-left: $train_margin_left;
  margin-top: $train_margin_top;
  width: 350px;
  height: 200px;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: flex-start;
  }
  .trainImg {
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.trafundo {
  margin-left: $trafundo_margin_left;
  margin-top: $trafundo_margin_top;
  width: 300px;
  height: 200px;
  // background-color: red;
  text-decoration: none;
  overflow: hidden;
  .trafundoImg {
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    position: absolute;
    top: 20px;
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.depens-x {
  margin-left: $depens_x_margin_left;
  margin-top: $depens_x_margin_top;
  width: 250px;
  height: 100px;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: flex-start;
  }
  .depens-xImg {
    width: 100px;
    height: 100px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.passport {
  margin-left: $passport_margin_left;
  margin-top: $passport_margin_top;
  width: 200px;
  height: 200px;
  // background-color: red;
  text-decoration: none;
  .passportImg {
    width: 150px;
    height: 150px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

// media queries
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    // display: none;
    padding-top: 10px;
    box-sizing: border-box;
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back {
      background: none;
    }
    .travel-pro {
      top: 40px;
    }
    .lady {
      margin-left: 0%;
      margin-top: 50%;
      .ladyImg {
        width: 1000px;
        height: 1000px;
      }
    }
    .mice {
      margin-left: 5%;
      // margin-top: 0%;
    }
    .lifestyle {
      margin-left: 10%;
      margin-top: 30%;
    }
    .business-travel {
      margin-left: 15%;
      margin-top: 80%;
    }
    .train {
      margin-left: 70%;
      margin-top: 80%;
    }
    .depens-x {
      margin-left: 45%;
      margin-top: 100%;
      .depens-xImg {
        width: 200px;
        height: 200px;
      }
    }
    .hotel {
      margin-left: 70%;
      margin-top: 30%;
    }
    .trafundo {
      margin-left: 75%;
      margin-top: 50%;
    }
    .passport {
      margin-left: 75%;
      // margin-top: 10%;
    }
    .flight {
      margin-left: 40%;
      margin-top: -30%;
    }
  }
}
