$mice_margin_left: 20%;
$mice_margin_top: -40px;

$business_travel_margin_left: $mice_margin_left + 9%;
$business_travel_margin_top: 350px;

$lady_margin_left: 40%;
$lady_margin_top: 17%;

$hotel_margin_left: 65%;
$hotel_margin_top: 70px;

$train_margin_left: 50%;
$train_margin_top: 20%;

$flight_margin_left: 36%;
$flight_margin_top: ($mice_margin_top)-160px;

$passport_margin_left: 55%;
$passport_margin_top: $flight_margin_top + 40;

$lifestyle_margin_left: 18%;
$lifestyle_margin_top: 200px;

$trafundo_margin_left: 66%;
$trafundo_margin_top: 240px;

$depens_x_margin_left: 45%;
$depens_x_margin_top: 0;

$image_height: 200px;
$image_width: 200px;

$mobile_ad_width: 600px;
$mobile_ad_height: 100px;

$mobile_ad_width_ipad: 400px;
$mobile_ad_height_ipad: 100px;

body {
  margin: 0;
  padding: 0;
  // width: 100%;
  // height: 100vh;
  font-family: "Roboto";
  // box-sizing: border-box;
  background-color: #73d9f0;
  overflow: hidden;
  .mob_ad_banner {
    display: none;
  }
}

.center {
  width: 100%;
  height: 100%;
  // background-color: red;
  // height: 100vh !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  // background-color: red;
}
.backgroundImg {
  // height: 100vh;
  // width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// clouds area starts
.cloudsContainer {
  box-sizing: border-box;
  .cloud {
    width: 100px;
    height: 100px;
    position: absolute;
    // right: 10px;
    filter: drop-shadow(20px 3px 10px #222);
    // animation: cloud_movement 10s linear infinite;
    // z-index: 1;
    &:nth-child(1) {
      width: 250px;
      height: 250px;
      top: 20%;
      animation: cloud_movement 20s linear infinite;
    }
    &:nth-child(2) {
      width: 150px;
      height: 150px;
      top: 40%;
      animation: cloud_movement 15s linear infinite;
    }
    &:nth-child(3) {
      width: 150px;
      height: 150px;
      top: 60%;
      animation: cloud_movement 8s linear infinite;
    }
    &:nth-child(4) {
      width: 150px;
      height: 150px;
      top: 10%;
      animation: cloud_movement 7s linear infinite;
    }
    &:nth-child(5) {
      width: 100px;
      height: 100px;
      top: 3%;
      // right: 50%;
      transform: rotate(-135deg);
      filter: drop-shadow(10px 3px 10px #222);
      animation: plane_movement 5s linear infinite;
    }
  }
}
@keyframes cloud_movement {
  0% {
    right: 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    // opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}
@keyframes plane_movement {
  0% {
    right: 3%;
  }
  100% {
    right: 100%;
  }
}

// clouds area ends

// ad banner starts
.web_ad_banner {
  .left_ad {
    width: 150px;
    height: 550px;
    position: absolute;
    left: 3%;
    background-color: red;
    z-index: 2;
    top: 15%;
  }
  .right_ad {
    width: 150px;
    height: 550px;
    position: absolute;
    right: 3%;
    background-color: red;
    z-index: 2;
    top: 15%;
  }
}

.mob_ad_banner {
  position: absolute;
  bottom: 1%;
  z-index: 2;
  width: 100%;
  // background-color: yellow;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .top_ad {
    width: $mobile_ad_width;
    height: $mobile_ad_height;
    background-color: red;
    margin: 10px;
  }
  .bottom_ad {
    width: $mobile_ad_width;
    height: $mobile_ad_height;
    background-color: blue;
    margin: 10px;
  }
}
// ad banner ends

// corner images starts
.topRight {
  position: absolute;
  right: 0px;
  top: 0;
  width: 400px;
  height: 300px;
  z-index: 1;
  // animation: swingTopRight 1s ease-in-out infinite alternate;
}
@keyframes swingTopRight {
  0% {
    transform: translate(2px, -3px);
    // transform:
  }
  100% {
    transform: translate(4px, 0);
  }
}

.topLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 300px;
  // animation: swingTopLeft 1s ease-in-out infinite alternate;
  z-index: 1;
}
@keyframes swingTopLeft {
  0% {
    transform: translate(-2px, -2px);
    // transform:
  }
  100% {
    transform: translate(0, 0);
  }
}

.bottomLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 300px;
  animation: swingbottomLeft 1s ease-in-out infinite alternate;
  z-index: 1;
}
@keyframes swingbottomLeft {
  0% {
    // bottom: -20px;
    // transform: translate(-5px, -5px);
    // transform:
  }
  100% {
    // transform: translate(0, 0);
  }
}

.bottomRight {
  position: absolute;
  right: 0;
  bottom: 0;
  // width: 400px;
  height: 300px;
  animation: swingbottomRight 1.5s ease-in-out infinite alternate;
  z-index: 1;
}
@keyframes swingbottomRight {
  0% {
    // transform: translate(-5px, -5px);
    // transform:
  }
  100% {
    // transform: translate(0, 0);
  }
}
// corner images ends

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // // background: url(./images/cartoon-background.jpg);
  // background-repeat: n o-repeat;
  // background-size: cover;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 90%;
  // height: 90%;
  // padding: 10px;
}

.textArea {
  border-radius: 4px;
  background-color: #fbaf41 !important;
  // box-shadow: 0 0 0 8px #fbaf41;
  .titleText {
    color: white !important;
    font-size: 18px !important;
  }
}

.miceback,
.businesstravelBack,
.hotelBack,
.trafundoBack,
.lifestyleBack,
.flightBack,
.passportBack,
.trainBack,
.depens-x_back {
  width: $image_width;
  height: $image_height;
  background: url(./images/cartoon/imagebackParticles.png);
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: yellow;
}

// particles for images starts
.miceback {
  margin-top: $mice_margin_top;
  margin-left: $mice_margin_left;
}

.businesstravelBack {
  margin-top: $business_travel_margin_top;
  margin-left: $business_travel_margin_left;
}

.hotelBack {
  margin-top: ($hotel_margin_top)-10px;
  margin-left: ($hotel_margin_left)-2;
}

.trafundoBack {
  margin-top: $trafundo_margin_top;
  margin-left: $trafundo_margin_left;
}

.lifestyleBack {
  margin-top: $lifestyle_margin_top;
  margin-left: $lifestyle_margin_left;
}

.flightBack {
  margin-top: $flight_margin_top;
  margin-left: ($flight_margin_left)-2;
  z-index: -1;
}

.passportBack {
  margin-top: ($passport_margin_top)-15;
  margin-left: ($passport_margin_left)-1;
}

.trainBack {
  margin-top: $train_margin_top;
  margin-left: $train_margin_left;
}

.depens-x_back {
  width: 150px;
  height: 150px;
  margin-top: ($depens_x_margin_top)-30;
  margin-left: ($depens_x_margin_left)-2;
}
// particles for images ends

.backgound_particle {
  background: url(./images/cartoon/background_particle.png);
  position: absolute;
  // z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.lady {
  margin-left: $lady_margin_left;
  margin-top: $lady_margin_top;
  .ladyImg {
    width: 380px;
    height: 380px;
  }
}

.travel-pro {
  position: absolute;
  left: 3%;
  top: 10px;
  z-index: 1;
  .travel-proImg {
    width: 60%;
  }
}

.american {
  position: absolute;
  right: 3%;
  top: 10px;
  z-index: 1;
  .americanImg {
    width: 60%;
  }
}

.mice {
  margin-top: $mice_margin_top;
  margin-left: $mice_margin_left;
  width: 250px;
  height: 250px;
  text-decoration: none;
  .miceImg {
    width: $image_width;
    height: $image_height;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    // white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.lifestyle {
  margin-top: $lifestyle_margin_top;
  margin-left: $lifestyle_margin_left;
  text-decoration: none;
  // background-color: red;
  .lifestyleImg {
    width: $image_width;
    height: $image_height;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    // white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: -100px;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.business-travel {
  margin-top: $business_travel_margin_top;
  margin-left: $business_travel_margin_left;
  width: $image_width;
  height: $image_height;
  text-decoration: none;
  // background-color: red;
  .business-travelImg {
    // position: absolute;
    // bottom: 0;
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.hotel {
  margin-left: $hotel_margin_left;
  margin-top: $hotel_margin_top;
  width: 300px;
  height: 150px;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: center;
  }
  .hotelImg {
    width: ($image_width)-50;
    height: ($image_height)-50;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.flight {
  margin-top: $flight_margin_top;
  margin-left: $flight_margin_left;
  width: 150px;
  height: 150px;
  // overflow: hidden;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: center;
  }
  .flightImg {
    width: $image_width;
    height: $image_height;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    left: 20%;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.train {
  margin-left: $train_margin_left;
  margin-top: $train_margin_top;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    // display: flex;
    // align-items: flex-start;
  }
  .trainImg {
    width: $image_width;
    height: $image_height;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 0;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.trafundo {
  margin-left: $trafundo_margin_left;
  margin-top: $trafundo_margin_top;
  width: $image_width;
  height: $image_height;
  // background-color: red;
  text-decoration: none;
  overflow: hidden;
  .trafundoImg {
    width: 200px;
    height: 200px;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    position: absolute;
    top: 20px;
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.depens-x {
  margin-left: $depens_x_margin_left;
  margin-top: $depens_x_margin_top;
  width: 250px;
  height: 100px;
  // background-color: red;
  text-decoration: none;
  .imgContainer {
    display: flex;
    align-items: flex-start;
  }
  .depens-xImg {
    width: ($image_width)-100;
    height: ($image_height)-100;
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

.passport {
  margin-left: $passport_margin_left;
  margin-top: $passport_margin_top;
  width: 150px;
  height: 150px;
  // background-color: red;
  text-decoration: none;
  .passportImg {
    width: ($image_width);
    height: ($image_height);
    // background-color: black;
    &:hover ~ {
      .textArea {
        background-color: #06486e;
        width: 100%;
      }
    }
  }
  .textArea {
    transition: width 0.6s, background-color 0.6s;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: -20px;
    left: 20%;
    .titleText {
      margin: 0;
      padding: 5px;
      color: #24b35a;
    }
  }
}

// media queries
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .web_ad_banner {
    display: none;
  }
  .mob_ad_banner {
    display: flex !important;
  }
  body {
    // display: none;
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back,
    .miceImg,
    .business-travelImg,
    .hotelImg,
    .trafundoImg,
    .lifestyleImg,
    .flightImg,
    .passportImg,
    .trainImg,
    .depens-xImg {
      width: 160px !important;
      height: 160px !important;
    }
    .cloudsContainer {
      // display: none;
    }
    padding-top: 10px;
    box-sizing: border-box;
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back {
      background: none;
    }
    .travel-pro {
      top: 10%;
    }
    .lady {
      margin-left: 20%;
      margin-top: 35%;
      .ladyImg {
        width: 600px;
        height: 600px;
      }
    }
    .mice {
      margin-left: 13%;
      // margin-top: 0%;
    }
    .lifestyle {
      margin-left: 10%;
      margin-top: 40%;
    }
    .business-travel {
      margin-left: 15%;
      margin-top: 70%;
    }
    .train {
      margin-left: 70%;
      margin-top: 80%;
    }
    .depens-x {
      margin-left: 38%;
      margin-top: 90%;
      .depens-xImg {
        width: 200px;
        height: 200px;
      }
    }
    .hotel {
      margin-left: 75%;
      margin-top: 23%;
    }
    .trafundo {
      margin-left: 75%;
      margin-top: 48%;
    }
    .passport {
      margin-left: 70%;
      // margin-top: 10%;
    }
    .flight {
      margin-left: 40%;
      margin-top: -30%;
    }
  }
}

@media all and (min-width: 1200px) {
  .miceback,
  .businesstravelBack,
  .hotelBack,
  .trafundoBack,
  .lifestyleBack,
  .flightBack,
  .passportBack,
  .trainBack,
  .depens-x_back {
    // display: none !important;
  }
  .depens-x_back {
    display: none !important;
  }
  .center {
    // background-color: green;
  }
  .miceback,
  .businesstravelBack,
  .hotelBack,
  .trafundoBack,
  .lifestyleBack,
  .flightBack,
  .passportBack,
  .trainBack,
  .depens-x_back,
  .miceImg,
  .business-travelImg,
  .hotelImg,
  .trafundoImg,
  .lifestyleImg,
  .flightImg,
  .passportImg,
  .trainImg,
  .depens-xImg {
    width: 150px !important;
    height: 150px !important;
  }

  .depens-xImg {
    width: 75px !important;
    height: 75px !important;
  }

  .ladyImg {
    width: 250px !important;
    height: 250px !important;
  }

  .mice,
  .miceback {
    margin-top: ($mice_margin_top)-20px;
    margin-left: $mice_margin_left + 4;
  }

  .lifestyle,
  .lifestyleBack {
    margin-top: ($lifestyle_margin_top)-80px;
    margin-left: $lifestyle_margin_left + 8;
  }

  .business-travel,
  .businesstravelBack {
    margin-top: ($business_travel_margin_top)-80px;
    margin-left: $business_travel_margin_left + 5;
  }

  .train,
  .trainBack {
    margin-top: ($train_margin_top)+2%;
    margin-left: $train_margin_left;
  }

  .hotel,
  .hotelBack {
    margin-top: ($hotel_margin_top)-80;
    margin-left: ($hotel_margin_left)-1;
  }

  .trafundo,
  .trafundoBack {
    margin-top: ($trafundo_margin_top)-80;
    margin-left: ($trafundo_margin_left)-3;
  }

  .flight,
  .flightBack {
    margin-top: ($flight_margin_top)+30;
    margin-left: $flight_margin_left;
  }

  .depens-x,
  .depens-x_back {
    margin-top: ($depens_x_margin_top)-1%;
    margin-left: ($depens_x_margin_left)-1%;
  }
}

@media all and (min-width: 1400px) {
  .center {
    // background-color: red;
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back,
    .miceImg,
    .business-travelImg,
    .hotelImg,
    .trafundoImg,
    .lifestyleImg,
    .flightImg,
    .passportImg,
    .trainImg,
    .depens-xImg {
      width: 150px !important;
      height: 150px !important;
    }

    .depens-xImg {
      width: 100px !important;
      height: 100px !important;
    }

    .ladyImg {
      width: 350px !important;
      height: 350px !important;
    }

    .lady {
      margin-top: ($lady_margin_top)-1;
      margin-left: ($lady_margin_left)-2;
    }

    .mice,
    .miceback {
      margin-top: ($mice_margin_top);
      margin-left: $mice_margin_left + 4;
    }

    .lifestyle,
    .lifestyleBack {
      margin-top: ($lifestyle_margin_top)-50px;
      margin-left: $lifestyle_margin_left + 4;
    }

    .business-travel,
    .businesstravelBack {
      margin-top: ($business_travel_margin_top)-20px;
      margin-left: $business_travel_margin_left + 1;
    }

    .train,
    .trainBack {
      margin-top: ($train_margin_top)+5%;
      margin-left: ($train_margin_left)-2;
    }

    .trafundo,
    .trafundoBack {
      margin-top: ($trafundo_margin_top)-35;
      margin-left: ($trafundo_margin_left)-3;
    }

    .hotel,
    .hotelBack {
      margin-top: ($hotel_margin_top)-80;
      margin-left: ($hotel_margin_left)-1;
    }

    .flight,
    .flightBack {
      margin-top: ($flight_margin_top)+30;
      margin-left: $flight_margin_left;
    }

    .depens-x {
      margin-top: ($depens_x_margin_top);
      margin-left: ($depens_x_margin_left)-2;
    }

    .depens-x_back {
      display: none !important;
    }
  }
}

@media screen and (width: 1920px) and (height: 1080px) {
  body {
    // display: none;
  }
}

@media screen and (width: 1280px) and (height: 1024px) {
  body {
    // display: none;
    .center {
      // background-color: red;
      .miceback,
      .businesstravelBack,
      .hotelBack,
      .trafundoBack,
      .lifestyleBack,
      .flightBack,
      .passportBack,
      .trainBack,
      .depens-x_back,
      .miceImg,
      .business-travelImg,
      .hotelImg,
      .trafundoImg,
      .lifestyleImg,
      .flightImg,
      .passportImg,
      .trainImg,
      .depens-xImg {
        width: 150px !important;
        height: 150px !important;
      }

      .depens-xImg {
        width: 100px !important;
        height: 100px !important;
      }

      .ladyImg {
        width: 400px !important;
        height: 400px !important;
      }

      .lady {
        margin-top: ($lady_margin_top)+5;
        margin-left: ($lady_margin_left)-2;
      }

      .mice,
      .miceback {
        margin-top: ($mice_margin_top);
        margin-left: $mice_margin_left + 4;
      }

      .lifestyle,
      .lifestyleBack {
        margin-top: ($lifestyle_margin_top)-50px;
        margin-left: $lifestyle_margin_left + 4;
      }

      .business-travel,
      .businesstravelBack {
        margin-top: ($business_travel_margin_top)-20px;
        margin-left: $business_travel_margin_left + 1;
      }

      .train,
      .trainBack {
        margin-top: ($train_margin_top)+3;
        margin-left: ($train_margin_left)-2;
      }

      .trafundo,
      .trafundoBack {
        margin-top: ($trafundo_margin_top)-35;
        margin-left: ($trafundo_margin_left)-3;
      }

      .hotel,
      .hotelBack {
        margin-top: ($hotel_margin_top)-80;
        margin-left: ($hotel_margin_left)-1;
      }

      .flight,
      .flightBack {
        margin-top: ($flight_margin_top)+30;
        margin-left: $flight_margin_left;
      }

      .depens-x {
        margin-top: ($depens_x_margin_top);
        margin-left: ($depens_x_margin_left)-2;
      }

      .depens-x_back {
        display: none !important;
      }
    }
  }
}

// Ipad pro

// /* Portrait and Landscape */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (-webkit-min-device-pixel-ratio: 2) {

// }

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .web_ad_banner {
    display: none;
  }
  .mob_ad_banner {
    display: flex !important;
    .top_ad,
    .bottom_ad {
      width: $mobile_ad_width_ipad;
      height: $mobile_ad_height_ipad;
    }
  }
  body {
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back,
    .miceImg,
    .business-travelImg,
    .hotelImg,
    .trafundoImg,
    .lifestyleImg,
    .flightImg,
    .passportImg,
    .trainImg,
    .depens-xImg {
      width: 140px !important;
      height: 140px !important;
    }
    .cloudsContainer {
      // display: none;
    }
    padding-top: 10px;
    box-sizing: border-box;
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back {
      background: none;
    }
    .travel-pro {
      top: 10%;
    }
    .lady {
      margin-left: 20%;
      margin-top: 15%;
      .ladyImg {
        width: 600px;
        height: 600px;
      }
    }
    .mice {
      margin-left: 13%;
      margin-top: 5%;
    }
    .lifestyle {
      margin-left: 10%;
      margin-top: 30%;
    }
    .business-travel {
      margin-left: 15%;
      margin-top: 55%;
    }
    .train {
      margin-left: 70%;
      margin-top: 60%;
    }
    .depens-x {
      margin-left: 40%;
      margin-top: 65%;
      .depens-xImg {
        width: 200px;
        height: 200px;
      }
    }
    .hotel {
      margin-left: 75%;
      margin-top: 7%;
    }
    .trafundo {
      margin-left: 75%;
      margin-top: 30%;
    }
    .passport {
      margin-left: 60%;
      // margin-top: 10%;
    }
    .flight {
      margin-left: 30%;
      margin-top: -15%;
    }
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .web_ad_banner {
    display: none;
  }
  .mob_ad_banner {
    display: flex !important;
  }
  body {
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back,
    .miceImg,
    .business-travelImg,
    .hotelImg,
    .trafundoImg,
    .lifestyleImg,
    .flightImg,
    .passportImg,
    .trainImg,
    .depens-xImg {
      width: 140px !important;
      height: 140px !important;
    }
    .cloudsContainer {
      // display: none;
    }
    padding-top: 10px;
    box-sizing: border-box;
    .miceback,
    .businesstravelBack,
    .hotelBack,
    .trafundoBack,
    .lifestyleBack,
    .flightBack,
    .passportBack,
    .trainBack,
    .depens-x_back {
      // background: none;
    }
    .travel-pro {
      top: 10%;
    }
    .lady {
      margin-left: 20%;
      margin-top: 25%;
      .ladyImg {
        width: 600px;
        height: 600px;
      }
    }
    .mice {
      margin-left: 13%;
      margin-top: 5%;
    }
    .lifestyle {
      margin-left: 10%;
      margin-top: 30%;
    }
    .business-travel {
      margin-left: 15%;
      margin-top: 55%;
    }
    .train {
      margin-left: 70%;
      margin-top: 60%;
    }
    .depens-x {
      margin-left: 40%;
      margin-top: 65%;
      .depens-xImg {
        width: 200px;
        height: 200px;
      }
    }
    .hotel {
      margin-left: 75%;
      margin-top: 7%;
    }
    .trafundo {
      margin-left: 75%;
      margin-top: 30%;
    }
    .passport {
      margin-left: 60%;
      // margin-top: 10%;
    }
    .flight {
      margin-left: 30%;
      margin-top: -15%;
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .web_ad_banner {
    display: none;
  }
  .mob_ad_banner {
    display: flex !important;
  }
  body {
    .lady {
      margin-left: 20%;
      margin-top: 40%;
      .ladyImg {
        width: 600px;
        height: 600px;
      }
    }
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    // display: none;
    .center {
      // background-color: red;
      .miceback,
      .businesstravelBack,
      .hotelBack,
      .trafundoBack,
      .lifestyleBack,
      .flightBack,
      .passportBack,
      .trainBack,
      .depens-x_back,
      .miceImg,
      .business-travelImg,
      .hotelImg,
      .trafundoImg,
      .lifestyleImg,
      .flightImg,
      .passportImg,
      .trainImg,
      .depens-xImg {
        width: 100px !important;
        height: 100px !important;
      }

      .depens-xImg {
        width: 100px !important;
        height: 100px !important;
      }

      .ladyImg {
        width: 300px !important;
        height: 300px !important;
      }

      .lady {
        margin-top: ($lady_margin_top)+3;
        margin-left: ($lady_margin_left)-2;
      }

      .mice,
      .miceback {
        margin-top: ($mice_margin_top);
        margin-left: $mice_margin_left + 4;
      }

      .lifestyle,
      .lifestyleBack {
        margin-top: ($lifestyle_margin_top)-60px;
        margin-left: $lifestyle_margin_left + 4;
      }

      .business-travel,
      .businesstravelBack {
        margin-top: ($business_travel_margin_top)-80px;
        margin-left: $business_travel_margin_left + 1;
      }

      .train,
      .trainBack {
        margin-top: ($train_margin_top)+10;
        margin-left: ($train_margin_left)-2;
      }

      .trafundo,
      .trafundoBack {
        margin-top: ($trafundo_margin_top)-35;
        margin-left: ($trafundo_margin_left)-3;
      }

      .hotel,
      .hotelBack {
        margin-top: ($hotel_margin_top)-80;
        margin-left: ($hotel_margin_left)-1;
      }

      .flight,
      .flightBack {
        margin-top: ($flight_margin_top)+30;
        margin-left: $flight_margin_left;
      }

      .depens-x {
        margin-top: ($depens_x_margin_top);
        margin-left: ($depens_x_margin_left)-2;
      }

      .depens-x_back {
        display: none !important;
      }
    }
  }
}
