body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backgroundImg {
  height: 100vh;
  width: 100%;
  position: absolute;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: n o-repeat;
  background-size: cover;
}

.textArea {
  border-radius: 4px;
  background-color: #fbaf41 !important;
}

.textArea .titleText {
  color: white !important;
  font-size: 18px !important;
}

.miceback,
.businesstravelBack,
.hotelBack,
.trafundoBack,
.lifestyleBack,
.flightBack,
.passportBack,
.trainBack,
.depens-x_back {
  width: 200px;
  height: 200px;
  background: url(./images/cartoon/imagebackParticles.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.miceback {
  margin-top: -40px;
  margin-left: 20%;
}

.businesstravelBack {
  margin-top: 350px;
  margin-left: 29%;
}

.hotelBack {
  margin-top: 60px;
  margin-left: 63%;
}

.trafundoBack {
  margin-top: 240px;
  margin-left: 66%;
}

.lifestyleBack {
  margin-top: 200px;
  margin-left: 18%;
}

.flightBack {
  margin-top: -200px;
  margin-left: 34%;
  z-index: -1;
}

.passportBack {
  margin-top: -190px;
  margin-left: 52%;
}

.trainBack {
  margin-top: 28%;
  margin-left: 50%;
}

.depens-x_back {
  width: 150px;
  height: 150px;
  margin-top: -30;
  margin-left: 43%;
}

.backgound_particle {
  background: url(./images/cartoon/background_particle.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.mixBlnd {
  background-blend-mode: screen;
}

.lady {
  margin-left: 40%;
  margin-top: 17%;
}

.lady .ladyImg {
  width: 380px;
  height: 380px;
}

.travel-pro {
  position: absolute;
  left: 3%;
  top: 10px;
  z-index: 1;
}

.travel-pro .travel-proImg {
  width: 60%;
}

.american {
  position: absolute;
  right: 3%;
  top: 10px;
  z-index: 1;
}

.american .americanImg {
  width: 60%;
}

.mice {
  margin-top: -40px;
  margin-left: 20%;
  width: 250px;
  height: 250px;
  text-decoration: none;
}

.mice .miceImg {
  width: 200px;
  height: 200px;
}

.mice .miceImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.mice .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  overflow: hidden;
}

.mice .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.lifestyle {
  margin-top: 200px;
  margin-left: 18%;
  width: 250px;
  height: 250px;
  text-decoration: none;
}

.lifestyle .lifestyleImg {
  width: 200px;
  height: 200px;
}

.lifestyle .lifestyleImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.lifestyle .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: -100px;
}

.lifestyle .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.business-travel {
  margin-top: 350px;
  margin-left: 29%;
  width: 200px;
  height: 200px;
  text-decoration: none;
}

.business-travel .business-travelImg {
  width: 200px;
  height: 200px;
}

.business-travel .business-travelImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.business-travel .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

.business-travel .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.hotel {
  margin-left: 65%;
  margin-top: 70px;
  width: 300px;
  height: 150px;
  text-decoration: none;
}

.hotel .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel .hotelImg {
  width: 150px;
  height: 150px;
}

.hotel .hotelImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.hotel .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

.hotel .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.flight {
  margin-top: -200px;
  margin-left: 36%;
  width: 400px;
  height: 200px;
  overflow: hidden;
  text-decoration: none;
}

.flight .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flight .flightImg {
  width: 200px;
  height: 200px;
}

.flight .flightImg:hover ~ .textArea {
  background-color: #06486e;
  width: 70%;
}

.flight .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.flight .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.train {
  margin-left: 50%;
  margin-top: 28%;
  width: 350px;
  height: 200px;
  text-decoration: none;
}

.train .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.train .trainImg {
  width: 200px;
  height: 200px;
}

.train .trainImg:hover ~ .textArea {
  background-color: #06486e;
  width: 70%;
}

.train .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 200px;
  top: 70%;
}

.train .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.trafundo {
  margin-left: 66%;
  margin-top: 240px;
  width: 200px;
  height: 200px;
  text-decoration: none;
  overflow: hidden;
}

.trafundo .trafundoImg {
  width: 200px;
  height: 200px;
}

.trafundo .trafundoImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.trafundo .textArea {
  position: absolute;
  top: 20px;
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

.trafundo .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.depens-x {
  margin-left: 45%;
  margin-top: 0;
  width: 250px;
  height: 100px;
  text-decoration: none;
}

.depens-x .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.depens-x .depens-xImg {
  width: 100px;
  height: 100px;
}

.depens-x .depens-xImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.depens-x .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

.depens-x .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

.passport {
  margin-left: 55%;
  margin-top: -160px;
  width: 200px;
  height: 200px;
  text-decoration: none;
}

.passport .passportImg {
  width: 150px;
  height: 150px;
}

.passport .passportImg:hover ~ .textArea {
  background-color: #06486e;
  width: 100%;
}

.passport .textArea {
  -webkit-transition: width 0.6s, background-color 0.6s;
  transition: width 0.6s, background-color 0.6s;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
}

.passport .textArea .titleText {
  margin: 0;
  padding: 5px;
  color: #24b35a;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .miceback,
  body .businesstravelBack,
  body .hotelBack,
  body .trafundoBack,
  body .lifestyleBack,
  body .flightBack,
  body .passportBack,
  body .trainBack,
  body .depens-x_back {
    background: none;
  }
  body .travel-pro {
    top: 40px;
  }
  body .lady {
    margin-left: -30px;
    margin-top: 50%;
  }
  body .lady .ladyImg {
    width: 1000px;
    height: 1000px;
  }
  body .mice {
    margin-left: 13%;
  }
  body .lifestyle {
    margin-left: 10%;
    margin-top: 30%;
  }
  body .business-travel {
    margin-left: 15%;
    margin-top: 80%;
  }
  body .train {
    margin-left: 70%;
    margin-top: 80%;
  }
  body .depens-x {
    margin-left: 38%;
    margin-top: 100%;
  }
  body .depens-x .depens-xImg {
    width: 200px;
    height: 200px;
  }
  body .hotel {
    margin-left: 75%;
    margin-top: 30%;
  }
  body .trafundo {
    margin-left: 75%;
    margin-top: 50%;
  }
  body .passport {
    margin-left: 70%;
  }
  body .flight {
    margin-left: 43%;
    margin-top: -30%;
  }
}
/*# sourceMappingURL=style.css.map */